@font-face {
    font-family: 'SairaStencilOne-Regular';
    src: url('../css/ttf/SairaStencilOne-Regular.ttf');
}

@font-face {
    font-family: 'heroesassemblegrad';
    src: url('../css/ttf/heroesassemblegrad.ttf');
}

@font-face {
    font-family: 'heroesassembleital2';
    src: url('../css/ttf/heroesassembleital2.ttf');
}

@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('../css/ttf/LuckiestGuy-Regular.ttf');
}

@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('../css/ttf/Anton-Regular.ttf');
}

.saldo {
    font-size: 11px;
    color: rgb(103, 103, 243);
    font-weight: bold;
}

.prueba {
    color: blue;
    text-align: center;
    font-family: heroesassembleital2;
}

.ftitle {
    color: royalblue;
    font-family: SairaStencilOne-Regular;
}

.etiquetaF {
    color: rgb(103, 103, 243);
    font-family: SairaStencilOne-Regular;
}

.chamocell {
    color: rgb(124, 152, 236);
    font-family: heroesassembleital2;
}

.formuclas {
    color: rgb(103, 150, 243);
    font-family: heroesassembleital2;
}

.e403title {
    color: rgb(241, 45, 45);
    font-family: SairaStencilOne-Regular;
}

.e404title {
    color: rgb(214, 214, 33);
    font-family: SairaStencilOne-Regular;
}

.blog-header {
    font-size: 30px;
    color: rgb(190, 188, 172);
    font-family: Anton-Regular;
}

.botonV {
    font-family: SairaStencilOne-Regular;
    color: rgb(45, 45, 241);
}

.botonE {
    font-family: SairaStencilOne-Regular;
    color: rgb(36, 148, 49);
}

.botonD {
    font-family: SairaStencilOne-Regular;
    color: rgb(241, 45, 45);
}

.foro_title {
    font-family: Anton-Regular;
    font-size: 20px;
}

.foro_info {
    font-family: SairaStencilOne-Regular;
    font-size: 10px;
    color: rgb(36, 148, 49);
}

.btn-facebook {
    background-color: #3b5998;
    border-color: darken(#3b5998, 3%);
    color: white;
}

.btn-twitter {
    background-color: #55acee;
    border-color: darken(#55acee, 3%);
    color: white;
}

.btn-google {
    background-color: #dd4b39;
    border-color: darken(#dd4b39, 3%);
    color: white;
}

.btn-instagram {
    background-color: #e95950;
    border-color: darken(#e95950, 3%);
    color: white;
}
